body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 900px;
    text-align: center;
}

h1 {
    margin: 0 0 20px 0;
    text-align: center;
}

.button-container {
    text-align: right;
    margin-bottom: 20px;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.button:hover {
    background-color: #45a049;
}

pre {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    white-space: pre-wrap; /* Mantener el formato de los espacios en blanco */
    word-wrap: break-word; /* Permitir el corte de las líneas largas */
    font-size: 12px;
    width: 100%;
    box-sizing: border-box;
}
